127.0.0.1 localhost
127.0.1.1 {{ inventory_hostname }}

{% for h in groups['all'] %}
{%   set hv = hostvars[h] %}
{%   set ip = hv.ip | default(hv.ip_int | default(hv.ansible_host)) %}
{{ ip }} {{ h }}.{{ domain }} {{ h }}
{% endfor %}

::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
