# Generado por Ansible - rol nagios_server
# Host: {{ nagios_host }} ({{ nagios_host_ip }})

define host {
    use                    linux-server
    host_name              {{ nagios_host }}
    alias                  {{ nagios_host }}.{{ domain }}
    address                {{ nagios_host_ip }}
}

define service {
    use                    generic-service
    host_name              {{ nagios_host }}
    service_description    PING
    check_command          check_nrpe!check_ping
}

define service {
    use                    generic-service
    host_name              {{ nagios_host }}
    service_description    Check SSH
    check_command          check_nrpe!check_ssh
}

define service {
    use                    generic-service
    host_name              {{ nagios_host }}
    service_description    Check Root / Disk
    check_command          check_nrpe!check_root
}

define service {
    use                    generic-service
    host_name              {{ nagios_host }}
    service_description    Check APT Update
    check_command          check_nrpe!check_apt
}
{% if 'web' in nagios_host_groups %}

define service {
    use                    generic-service
    host_name              {{ nagios_host }}
    service_description    Check HTTP
    check_command          check_nrpe!check_http
}
{% endif %}
